.Example {
  display: flex;
  border-bottom: 1px solid var(--oc-gray-1);
  margin: 25px 0;
}

.Example > .content {
  display: flex;
  justify-content: center;
}

.Example > .info .name {
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-size: 14px;
}
