.Example {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.Example > .info .name {
  letter-spacing: 0.05rem;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 14px;
}
