.Example {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--oc-gray-1);
  margin: 80px 0;
  height: 600px;
}

.Example form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.Example:last-child {
  border-bottom: none;
}

.Example > .info {
  text-align: center;
  line-height: 1.25;
}

.Example > .info .name {
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-size: 14px;
}

.Example > .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}